{{>layouts/header}}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 mb-4 fw-bold">환영합니다! 👋</h1>
            <p class="lead mb-5">MyTodos에 오신 것을 환영합니다.<br>
                할 일 관리, 친구와의 협업, 캘린더까지 한 번에!</p>
            <div class="d-flex justify-content-center gap-3">
                <a href="/login" class="btn btn-primary btn-lg px-4">로그인</a>
                <a href="/signup" class="btn btn-outline-success btn-lg px-4">회원가입</a>
                <a href="/todos" class="btn btn-outline-secondary btn-lg px-4">내 투두리스트</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <img src="https://cdn.pixabay.com/photo/2017/01/10/19/05/checklist-1973223_1280.png" alt="todo illustration" class="img-fluid rounded shadow">
        </div>
    </div>
</div>

{{>layouts/footer}}
